body{
    background-image: url("../../img/frontend/bg2.jpg")
}
.panel-default>.panel-heading{
    background: none;
    border-bottom: 1px solid #000;
}
.jumbotron, .panel, .progress, .well {
    border: 1px solid #000;
}
.panel {
    border-width: 0 0px 4px;
}
.panel-body nav{
    text-align: center;
}
.tab-content{
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 7px 15px 0 rgba(0,0,0, .15);
}
.tab-content p img.thumbnail{
    max-width: 200px;
    float: left;
    margin-right: 20px;
}
.nav-tabs>li.active{
    border-bottom:3px solid #fff;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #000;
    box-shadow: 0 0 15px rgba(0,0,0, .15);
}
.navbar {
    border-width: 0 0 4px;
}
.pagination>li>a, .pagination>li>span, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: #686868;
    border-color: #000;
    color: #fff;
}
.pager>li.active>a, .pagination>li.active>a {
    top: 1px;
    border-bottom-width: 3px;
}
.r-block-item .news-date{
    margin-left: 10px;
    font-weight: bold;
}
.works-atribute{
    display: inline-block;
    margin-right: 20px;
}
footer .fa-3x{
    margin-top: 0;
}
.fa-3x {
    width: 50px;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
}
.navbar-default .navbar-text {
    font-size: 25px;
}
footer .navbar-text {
    font-size: 16px;
}
.panel {
    border-width: 0 0px 4px;
}
/*
.navbar-default {
    background-color: #ffffff;
    border-color: #000;
}
*/
.btn-primary {
    color: #fff;
    background-color: #686868;
    border-color: #242424;
}
.btn-group.open .dropdown-toggle.btn-primary, .btn-primary:focus, .btn-primary:hover {
    background-color: #686868;
    border-color: #242424;
}
.lang li a{
    color: #ffffff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    border-top: 3px solid #000;
    padding-top: 17px;
}
.panel-default>.panel-heading{
    border-bottom:1px solid #000;
    font-size: 20px;
    font-weight: bold;
}a, a:hover{
    color: #000000;
}
.navbar-default .navbar-text {
    color: #000!important;
}
.lang li {
    border-left: 1px solid #ffffff;
}
footer{
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,.3) inset;
}
.panel {
    box-shadow: 0 0 15px rgba(0,0,0, .7);
}
.carousel-inner>.item>a>img:hover,
.carousel-inner>.item>img:hover,
.img-responsive:hover,
.thumbnail a>img:hover,
.thumbnail>img:hover {
    border: 2px solid #000;
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    border: 2px solid #b7c4c7;
}
.thumbnail{
    border: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #686868;
    border-color: #000;
    cursor: default;
}
footer {
    border-top: 1px solid #000;
}
.navbar-fixed-top .navbar-nav>.active>a, .navbar-fixed-top .navbar-nav>.active>a:focus, .navbar-fixed-top .navbar-nav>.active>a:hover, .navbar-fixed-top .navbar-nav>li>a:focus, .navbar-fixed-top .navbar-nav>li>a:hover {
    border-top: 3px solid #000;
    padding-top: 7px;
}
.lang li {
    border-left: 1px solid #000;
}