@font-face {
	font-family: 'MagistralBlack';
	src: url('../../fonts/MagistralBlack/MagistralBlack.eot');
	src: local('☺'), url('../../fonts/MagistralBlack/MagistralBlack.woff') format('woff'), url('../../fonts/MagistralBlack/MagistralBlack.ttf') format('truetype'), url('../../fonts/MagistralBlack/MagistralBlack.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/frontend/OpenSansSemibold.ttf") format("truetype"); }